*{margin: 0; padding: 0; box-sizing: border-box;font-family: 'PT Serif', serif;}
.carousel-inner img {
    width: 100%;
    height: 100vh;
  }
  .aboutimg{
      width: 100%;
      height: 250px !important;
  }

  footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 0px 0;
    
   } 
    @media (min-width: 768px) {
      header {
        padding: 0px 0; } }
    header .navbar-brand {
      text-transform: uppercase;
      letter-spacing: .2em;
      font-weight: 800;
      font-size: 2rem; }
      header .navbar-brand.absolute {
        position: absolute; }
        @media (max-width: 991px) {
          header .navbar-brand.absolute {
            position: relative; } }
      header .navbar-brand span {
        color: #ff7404; }
        @media (min-width: 768px) {
          header .navbar-brand span {
            color: #ced4da; } }
    header .navbar {
      background: black !important;
      padding-top: .5rem;
      padding-bottom: .5rem; }
      @media (min-width: 768px) {
        header .navbar {
          padding-top: 0;
          padding-bottom: 0;
          background: none !important;
          position: relative; } }
      header .navbar .nav-link {
        padding: 1.7rem 1rem;
        background-color: inherit;
        outline: none !important;
        font-size: 1rem;
        color:whitesmoke!important;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
        header .navbar .nav-link:hover{
          background-color:#7d2f1b;
        }
      
        @media (max-width: 1199px) {
          header .navbar .nav-link {
            padding: .5rem 0rem; } }
     

          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #7d2f1b;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          .dropdown-content a:hover {background-color: rgb(207, 115, 115);}
          
          .dropdown:hover .dropdown-content {display: block;}

          .slider-wrap {
            position: relative; }
            .slider-wrap:after {
              content: "";
              width: 100%;
              height: 240px;
              background: #fff;
              z-index: 1;
              bottom: -210px;
              background-color: #f8f9fa;
              left: 0;
              position: absolute;
              -webkit-transform: skewY(-6deg);
              -ms-transform: skewY(-6deg);
              transform: skewY(-6deg);
              -webkit-transform-origin: top left;
              -ms-transform-origin: top left;
              transform-origin: top left; }
            .slider-wrap.no-slanted:after {
              display: none; }

              .section {
                padding: 15em 0;
                position: relative;
                z-index: 2; }
     #colorstrip{
       
      width: 100%; height: 2px;
      border-style: solid;
     border-color: #7d2f1b;
      background-color: #7d2f1b;
              }               
.content-container.cool-background{
  background-color: whitesmoke;
}
.widget-area-highlight  {background:#e3e0d9; }

.footernavbar{
  
  background-color:whitesmoke;
}
#ourteam-info{
  background-color:#e3e0d9;
}               
